body { 
background: url(images/bg.jpg) no-repeat center center fixed; 
background-position: top;
background-size: 100% auto;

}

.navbar {
    background-color: transparent;
    background: transparent;
  }

.navbar li {
  color: #000;
}