/* Fonts */
@font-face {
font-family: SlimJoe;
src: url("../font/SlimJoe.otf") format("opentype");
}

@font-face {
  font-family: AzedoLight;
  src: url("../font/Azedo-Light.otf") format("opentype");
}

@font-face {
  font-family: AzedoBold;
  src: url("../font/Azedo-Bold.otf") format("opentype");
}

@font-face {
  font-family: MoonLight;
  src: url("../font/MoonLight.otf") format("opentype");
}

html, body {
  width: 100%;
  height: 100%;
}
/* Off Canvas */

#site-wrapper {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%; 
  min-height: 100%;
  min-width: 100%;

}
#site-canvas {
  width: 100%;
  height: 100%;
  position: relative;
  
  -webkit-transform: translateX(0);
  transform: translateX(0);
  
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  
  -webkit-transition: 300ms ease all;
  transition: 300ms ease all;
 
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;

  
  
    
  padding: 5% 0; 
}
.show-nav #site-canvas {
  -webkit-transform: translateX(300px);
  transform: translateX(300px);
  
  -webkit-transform: translate3d(300px, 0, 0);
  transform: translate3d(300px, 0, 0);
}
#site-menu {
  width: 300px;
  height: 100%;
  position: absolute;
  top: 0;
  left: -300px;
  background: #1aa3ff;
  padding: 15px;
}


/* Homepage */

body {
  color: #EAEAEA;
 }

#big-sexy {
  background-color: transparent;
  text-decoration: none;
  border: none;
  display: inline-block;
  vertical-align: text-top;
  position: absolute;
  top:0;
  
}

li, a {
  color: white;
  text-decoration: none;
  font-family: "AzedoLight", serif;
  letter-spacing: 2px;
  list-style: none;
  text-align: left;
  font-weight: bold;
  font-size: 18px;


}

#site-menu h1 {
  color: white;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-family: "AzedoBold", serif
}

ul {
  text-align: left;
  padding: 0;
  margin: 0;
}

.bg {
  background-image: url(http://i.imgur.com/ON4Ye0V.jpg);
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
}

#head  {
  font-family: "AzedoBold", serif;
  color: #EAEAEA;
  letter-spacing: 4px;
  font-size: 40px;
  text-align: center;

}

#underhead {
  text-align: center;
  font-family: "AzedoLight", serif;
  letter-spacing: 3px;
  font-size: 23px;

}


/* Arrow */



#arrowcontainer a {
  display: inline-block;
  max-width: 100%;
  position: absolute;
  bottom: 1%;
  left: 50%;
  transform: translateX(-50%);

}

.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;

    }

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
        transform: scale(1.1);
}

/* About me */

#about {
  background-color: #1aa3ff;
  position: absolute;
  width: 100%;
  height: 100%;
  margin-top: 0;
  min-height: 100%;
  min-width: 100%;
  top: 100%;
  display: inline-block;



}

#about h1 {
  font-family: "AzedoBold";
  text-align: center;
  letter-spacing: 4px;
  font-size: 43px;
  padding-top: 55px;
  margin: 0;
}

.description {
  text-align: center;
  font-family: "MoonLight";
  padding-top: 50px;
  color: #EAEAEA;
}


#me {
  width: 30%;
  border-radius: 50%;
}

.img-wrapper {
  text-align: center;
  padding-top: 40px;
}


/* Portfolio */ 


#portfolio {
  position: absolute;
  top: 200%;
  background-color: #7ccaff;
  width: 100%;
  height: 115%;
  margin-top: 0 auto;
  min-width: 100%;
  min-height: 100%;
  background-size: cover;
}


#portfolio h1 {
  text-align: center;
  font-family: "AzedoBold";
  letter-spacing: 4px;
  font-size: 43px;
  padding-top: 55px;
}

.gallery {
  padding-top: 50px;
}

.main {
  margin: 0 auto -60px;
}
.main .img-responsive {
  margin-bottom: 30px;
  min-width: 100%;
  min-height: 100%;
 
}

/* Contact form */ 

#contact {

  background-color: #7cebff; 
  position: absolute;
  width: 100%;
  height: 80%;
  top: 100%;
  margin-bottom: 0;
  margin-top: 0;
  

}


#contact h1 {
  text-align: center;
  font-family: "AzedoBold";
  letter-spacing: 4px;
  font-size: 43px;
  padding-top: 55px;
  

}


.form-group {

  
  padding-top: 50px;
  font-family: "MoonLight";
  

}

.btn {
  background-color: transparent;
  border: none;
}

.form-horizontal {
  width: 500px;
  margin: 0 auto;
}

.btn:hover {
  background-color: transparent;
}

/* Social Icons */

.imgb {
  display: inline-block;
  position: absolute;
  max-width: 100%;
  bottom: 1%;
  left: 50%;
  
  }

