#header-div {

  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url(images/bg.jpg);
  background-size: cover;
  background-color: black;
}


#nav > ul > li  {

  display: inline-block;
  margin-left: 2px;
  padding: 10px;
  color: #EAEAEA;
  line-height: 2.9em;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 500px;
  text-align: left;
}

#nav > ul > li a {

  color: #EAEAEA;
  line-height: 3.5em;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 400px;
}

.container {

  float: left;
}


#banner {
  width: 1500px auto;
  padding: 250px;
  text-align: center;
  text-transform: uppercase;
  color: white;
}

#banner h2 {

  display: inline-block;
  padding: 10px 10px;
  font-size: 40px;
  font-family: serif;
  letter-spacing: 4px;
}


#banner h3 {
  letter-spacing: 2px;
  font-size: 28px;
}

.row {

  padding-left: 100px;
  position: absolute;
  top: 100%;
  width: 100.9%;
  height: 100%;
  background-color: #171715;
  padding-top: 90px;
  background-size: cover;
}


.row > .immagine > p {
  font-family: "Inconsolata", serif;
  font-style: normal;
  color: white;
  text-align: justify;
  float: right;
  padding-right: 40px;
  padding-left: 300px;
  margin-top: -185px;


}

.row > h2 {

  color: #EAEAEA;
  font-family: sans-serif;
  line-height: 3.5em;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 400;
  text-align: center;
  margin-left: 0.5em;
  padding: 10px;

}

#img {
  width: 250px;
  height: 250px;
  border-radius: 100px;
  -moz-border-radius: 100px;
  padding: 5px;
  padding-left: 16px;
  float: left;
  clear: left;
}

.immagine {
  float: left;
  margin-right: 10px;
}

.portfolio {

  padding-left: 100px;
  position: absolute;
  top: 100%;
  width: 100%;
  height: 100%;
  left: 0px;
  background-color: #2e2e2c;
  padding-top: 90px;
  background-size: cover;

}

.portfolio > h2 {

  color: #EAEAEA;
  font-family: sans-serif;
  line-height: 3.5em;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 400;
  text-align: center;
  margin-left: 0.5em;
  padding: 10px;
}

