#header-div {

  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url(images/bg.jpg);
  background-size: cover;
  background-color: black;
}


#nav > ul > li  {

  display: inline-block;
  margin-left: 2px;
  padding: 10px;
  color: #EAEAEA;
  line-height: 2.9em;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 500px;
  text-align: left;
}

#nav > ul > li a {

  color: #EAEAEA;
  line-height: 3.5em;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 400px;
}

.container {

  float: left;
}


#banner {
  width: 1500px auto;
  padding: 250px;
  text-align: center;
  text-transform: uppercase;
  color: white;
}

#banner h2 {

  display: inline-block;
  padding: 10px 10px;
  font-size: 40px;
  font-family: serif;
  letter-spacing: 4px;
}


#banner h3 {
  letter-spacing: 2px;
  font-size: 28px;
}

.row {

  padding-left: 100px;
  position: absolute;
  top: 100%;
  width: 100.9%;
  height: 80%;
  background-color: #171715;
  padding-top: 90px;
  background-size: cover;
}


.row > .immagine > p {
  font-family: "Inconsolata", serif;
  font-style: normal;
  color: white;
  text-align: justify;
  float: right;
  padding-right: 40px;
  padding-left: 300px;
  margin-top: -185px;


}

.row > h2 {

  color: #EAEAEA;
  font-family: sans-serif;
  line-height: 3.5em;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 400;
  text-align: center;
  margin-left: 0.5em;
  padding: 10px;
  text-decoration: underline;
  text-decoration-color: #EAEAEA;


}

#img {
  width: 250px;
  height: 250px;
  border-radius: 100px;
  -moz-border-radius: 100px;
  padding: 5px;
  padding-left: 16px;
  float: left;
  clear: left;
}

.immagine {
  float: left;
  margin-right: 10px;
}

#portfolio {

  padding-left: 100px;
  position: absolute;
  top: 100%;
  width: 100%;
  height: 100%;
  left: 0px;
  background-color: #2e2e2c;
  padding-top: 90px;
  background-size: cover;

}

#portfolio > h2 {

  color: #EAEAEA;
  font-family: sans-serif;
  line-height: 3.5em;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 400;
  text-align: center;
  margin-left: 0.5em;
  padding: 10px;
  text-decoration: underline;
  text-decoration-color: #EAEAEA;

}


#ptim {
 border-radius: 100px;
-moz-border-radius: 100px;
}


#ptim:hover{
  position: relative;
  z-index: 1;
  transform: scale(1.2);
  -ms-transform: scale(1.2);       
  -webkit-transform: scale(1.2); 
}

.imagecontainer {
  padding-top: 50px;
  }


.imagecontainer2{
  padding-top: 50px;
}

#ptim2{
  border-radius: 100px;
  -moz-border-radius: 100px;
  margin-top: -473px;
  position: relative;
  left: 800px; 
}

#ptim2:hover {
  position: relative;
  z-index: 1;
  transform: scale(1.2);
  -ms-transform: scale(1.2);       
  -webkit-transform: scale(1.2); 
}


#contact {
  padding-left: 100px;
  position: absolute;
  top: 100%;
  width: 100%;
  height: 100%;
  left: 0px;
  background-color: #7e7e79;
  padding-top: 90px;
  background-size: cover;

}

#contact > h2 {
  color: #EAEAEA;
  font-family: sans-serif;
  line-height: 3.5em;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 400;
  text-align: center;
  margin-left: 0.5em;
  padding: 10px;
  text-decoration: underline;
  text-decoration-color: #EAEAEA;
}

label {
    display:block;
    margin-top:20px;
    letter-spacing:3px;
}

.body {
  display: block;
  margin: 0 auto;
  width: 576px;
}

form {
    margin:0 auto;
    width:459px;
}

input, textarea {
  width:439px;
  height:27px;
  background:#efefef;
  border:1px solid #dedede;
  padding:10px;
  margin-top:3px;
  font-size:0.9em;
  color:#3a3a3a;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

textarea {
  height:213px;
  background-color: #efefef;
}

input:focus, textarea:focus {
  border: 1px solid #97d6eb;
}

#submit {
    width:127px;
    height:38px;
    background:url(images/submit.jpg);
    text-indent:-9999px;
    border:none;
    margin-top:20px;
    cursor:pointer;
}

  #submit:hover {
      opacity:.9;
  }

  .footer {
  padding-left: 100px;
  position: absolute;
  top: 200%;
  width: 100%;
  height: 60%;
  left: 0px;
  background-color: #2e2e2c;
  padding-top: 90px;
  background-size: cover;

  }


  .footer h2 {
  color: #EAEAEA;
  font-family: sans-serif;
  line-height: 3.5em;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 400;
  text-align: center;
  margin-left: 0.5em;
  padding: 10px;
  text-decoration: underline;
  text-decoration-color: #EAEAEA;

  }

  #facebook  {
    width: 50px;
    height: 50px;
    position: absolute;
    left: 400px;
  }

  #github {
    width: 50px;
    height: 50px;
    position: absolute;
    left: 800px;
  }

  #linkedin {
    width: 50px;
    height: 50px;
    position: absolute;
    left: 1200px;


  }

