body { 
background: url(images/bg.jpg) no-repeat center center fixed; 
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;

}

h2 {
  color: black;
}

.navbar {
    margin-bottom: 1.3em;
    background: transparent;
    border: transparent;
    padding-top: 12px;
}


 ul > li a {
  color: white;
  line-height: 3.5em;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 400px;
}

.navbar-brand {

	color: white;
	letter-spacing: 2px;
	text-transform: uppercase;
	font-weight: 400px;

}


.navbar-invert .navbar-toggle .icon-bar {
	background-color: white;
}


h2 {

  display: inline-block;
  padding: 10px 10px;
  font-size: 40px;
  font-family: serif;
  letter-spacing: 4px;
  text-transform: uppercase;
  padding-top: 250px;
  color: #EAEAEA;


}

.banner {

	text-align: center;
}

h3 {
	padding: 10px 10px;
	font-size: 20px;
	font-family: serif;
	letter-spacing: 2px;
	text-transform: uppercase;
	color: #EAEAEA;

}

.about {
  padding-left: 100px;
  position: absolute;
  top: 100%;
  width: 100%;
  height: 80%;
  background-color: #171715;
  padding-top: 90px;
  background-size: cover;
  text-align: center;

}

.about h2 {
  display: inline-block;
  padding: 10px 10px;
  font-size: 40px;
  font-family: serif;
  letter-spacing: 4px;
  text-transform: uppercase;
  padding-top: 50px;
  color: #EAEAEA;
  text-align: center;
}

.about p {
	padding: 10px 10px;
	font-size: 10px;
	font-family: serif;
	letter-spacing: 2px;
	text-transform: uppercase;
	color: #EAEAEA;
	padding-top: 100px;

}