
body {
    height: 100%;
  }
body {
  margin: 0;
  padding: 0;
  }

#nav > ul > li {
  display: inline-block;
  margin-left: 0.5em;
  padding: 10px;
  color: #EAEAEA;
  line-height: 3.5em;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 400;
}

#nav > ul > li a {

  color: #EAEAEA;
  line-height: 3.5em;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 400;
}

#nav > ul > li > ul {
  display: none;
}

#banner {
  width: 1500px auto;
  padding: 150px;
  text-align: center;
  text-transform: uppercase;
  color: white;
}

#banner h2{
  display: inline-block;
  padding: 10px 10px;
  font-size: 40px;
  font-family: "Serif";
  letter-spacing: 4px;
}


#banner h3{
  letter-spacing: 2px;
  font-size: 28px;
}

#header-div {

  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url(images/bg.jpg);
  background-size: cover;
  background-color: black;
}

.row {

  padding-left: 100px;
  position: absolute;
  text-align: center;
  top: 100%;
  width: 100%;
  height: 700px;
  background: #171715;
  padding-top: 90px;
  background-size: cover;

}

.about {

  font-family: "Inconsolata", serif;
  font-style: normal;
  color: white;
  text-align: justify;
  float: right;
  padding-left: 20px;
  padding-right: 250px;
  text-align: right;

}

#title1 {

  color: white;
  font-family: sans-serif;
  line-height: 3.5em;
  letter-spacing: 2px;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 400;

}

#img {
  width: 250px;
  height: 250px;
  border-radius: 100px;
  -moz-border-radius: 100px;
  padding: 5px;
  padding-left: 16px;
  float:inherit;
}

.immagine {
  padding-left: 5px;
  padding-bottom: 100px;
  text-align: center;
}

.row1 {
  padding-left: 2px;
  position: absolute;
  top: 165%;
  width: 100%;
  height: 700px;
  background: black;
  padding-top: 90px;
  background-size: cover;

}
