body { 
background: url(images/bg.jpg) no-repeat center center fixed; 
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;

}

h2 {
  color: black;
}

.navbar {
    margin-bottom: 1.3em;
    background: transparent;
    border: transparent;
    padding-top: 12px;
}


 ul > li a {
  color: white;
  line-height: 3.5em;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 400px;
}

.navbar-brand {

	color: white;
	letter-spacing: 2px;
	text-transform: uppercase;
	font-weight: 400px;

}


.navbar-invert .navbar-toggle .icon-bar {
	background-color: white;
}


h2 {

  display: inline-block;
  padding: 10px 10px;
  font-size: 40px;
  font-family: serif;
  letter-spacing: 4px;
  text-transform: uppercase;
  padding-top: 250px;
  color: #EAEAEA;


}

.banner {

	text-align: center;
}

h3 {
	padding: 10px 10px;
	font-size: 20px;
	font-family: serif;
	letter-spacing: 2px;
	text-transform: uppercase;
	color: #EAEAEA;

}

#about {
  padding-left: 100px;
  position: absolute;
  top: 100%;
  width: 100%;
  height: 80%;
  background-color: #171715;
  padding-top: 90px;
  background-size: cover;
  text-align: center;

}

#about h2 {
  display: inline-block;
  padding: 10px 10px;
  font-size: 40px;
  font-family: serif;
  letter-spacing: 4px;
  text-transform: uppercase;
  padding-top: 50px;
  color: #EAEAEA;
  text-align: center;
}

#about p {
	padding: 10px 10px;
	font-size: 10px;
	font-family: serif;
	letter-spacing: 2px;
	text-transform: uppercase;
	color: #EAEAEA;
	padding-top: 100px;
}


#img {
  float: left;
  width: 250px;
  height: 250px;
  border-radius: 100px;
  -moz-border-radius: 100px;
  padding: 10px;
  }

.image-div {
  padding-top: 100px;
  padding-left: 10px;
  }

  
#portfolio {

position: absolute;
left: 0;
height: 950px;
width: 100%;
top: 179%;
background-color: #505050;
background-size: cover;
-moz-background-size: cover;
text-align: center;
min-height: 889px;
}


#ptim1  {
border-radius: 100px;
-moz-border-radius: 100px;
}


#ptim1:hover {
  position: relative;
  z-index: 1;
  transform: scale(1.2);
  -ms-transform: scale(1.2);
  -webkit-transform: scale(1.2);
}

.imagecontainer1 {
  padding-top: 50px;
  position: absolute;
  left: 5%;
  width: 100%;
  height: auto;

}

#ptim2 {
  border-radius: 100px;
  -moz-border-radius: 100px;
}

#ptim2:hover {
  position: relative;
  z-index: 1;
  transform: scale(1.2);
  -ms-transform: scale(1.2);
  -webkit-transform: scale(1.2);
}

.imagecontainer2 {
  padding-top: 50px;
  float: right;
  padding-right: 2%;


}



